<!DOCTYPE html>
<html>
  <head>
    <title>Rotisserie</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108255910-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-108255910-1');
    </script>
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar" role="navigation" id="navbar">
      <div class="navbar__title">
          <h1>Rotisserie</h1>
      </div>

        <ul class="navbar__nav">
	  <li><a href="/fortnite">Fortnite</a></li>
	  <li><a href="/blackout">Blackout</a></li>
	  <li><a href="/pubg">PUBG</a></li>
	</ul>
        <ul class="navbar__nav">
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="#related">Related</a></li>
        </ul>
    </nav>

    <!-- video section -->
    <section class="section__video">
      <div class="container__twitch" id="container__twitch">
        <iframe class="container__twitch-iframe" src="https://player.twitch.tv/?channel=TSM_Viss/hls" height="720" width="1280" frameborder="0" scrolling="no" allowfullscreen="true" id="twitch_iframe"></iframe></script>
      </div>
      <div class="container__streamer" id="container__streamer">
          <div class="container__streamer-back">
              <svg id="container__svg-back" width='14' height='12' viewBox='0 0 16 14' fill-rule='evenodd'><path d='M3.4 8H16V6H3.3l5-4.7L7 0 0 7l7 7 1.3-1.3z' fill="#00aa5e"></path></svg>
              <h4>Previous: </h4><h4 id="previous_stream">TSM_VISS</h4>
            </div>
        <div class="container__streamer-about">
          <h4>Current: </h4><h4 id="streamer_name">TSM_VISS</h4>
        </div>
        <div class="container__streamer-closest">
          <h4>Next Closest: </h4> <h4 id="next_closest">TSM_VISS</h4>
          <svg width='14' height='12' viewBox='0 0 16 14' fill-rule='evenodd'><path d='M12.6 6H0v2h12.7l-5 4.7L9 14l7-7-7-7-1.3 1.3z' fill="#00aa5e"></path></svg>
        </div>
      </div>
      <!-- button and slider set -->
      <div class="container__button" id ="container__button">
          <button type="button" id="buttonPin" value="off">Pin Stream</button>
          <button type="button" id="button"><a href="https://github.com/IBM/rotisserie">View the Code</a></button>
          <button type="button" id="button"><a href="https://github.com/IBM/rotisserie/fork">Fork on Github</a></button>
      </div>
      <div class="container__slider" id="slidecontainer">
          <input type="range" min="0" max="100" value="100" class="slider" id="myRange">
        </div>
    </section>

     <!-- about section -->
    <section class="section__about" id="about">
        <h2>About</h2>
        <p>Rotisserie is a web application created by IBM developer advocates.
          It features always exciting streams of Battle Royale style games.
          Rotisserie is written in Node.js. The current state of the application is limited to Twitch live streams.
          It gets a list of live streams from Twitch then uses computer vision to determine the number of people alive.
          This page will show you the stream that has the least number of players alive in their match.
          The application will watch streams in the background and determine which has the least number of players alive.
          This webpage will check periodically if it matches the best stream determined by the application and will seamlessly switch to that.</p>
    </section>

    <!-- contact/related links section -->
    <section class="section__contact" id="contact">
        <div class="container__contact" id="contactUs">
          <h2>Contact us</h2>
          <p>We welcome all feedback and contributions. If you’re interested in contributing or contacting us, check out <a href="https://github.com/IBM/rotisserie/issues">Github Rotisserie Issues</a></p>
        </div>
        <div class="container__related">
            <h2>Related links</h2>
            <p>If you would like more information on how this application was built, check out <a href="https://developer.ibm.com/code/patterns/implement-computer-vision-playerunknowns-battlegrounds-live-streams/">IBM Code Pattern</a></p>
          </div>
    </section>
     <script id="mainscript" src="/static/js/rotisserie.js" game-type="{{ game }}"> </script>
  </body>
</html>
