@import "variables.scss";
@import "mixins.scss";

body,
html {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.navbar {
  background: $green;
  color: $white;
  display: flex;
  justify-content: space-between;

  h1 {
    text-transform: uppercase;
    padding: 0 1rem;
    font-weight: 100;
  }

  &__nav {
    display: flex;
    list-style: none;
    padding: 0 1rem;

    li {
      text-decoration: none;
      padding: 0.75rem;

      a {
        text-decoration: none;
        color: $white;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: $white;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
        }

        &:hover:before {
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        }
      }
    }
  }
}

.section {
  &__video {
    padding: 2rem 5rem 0 5rem;
  }
  &__contact {
    padding: 2rem 5rem;
    color: $green;
    display: flex;
  }
  &__about {
    background-color: $green;
    color: $white;
    padding: 0 5rem 5rem;

    h2 {
      font-weight: 100;
      padding-bottom: 2rem;
      padding-top: 3rem;
    }
  }
}
.container {
  &__twitch {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__streamer {
    display: flex;
    color: $green;
    justify-content: space-between;
    flex-wrap: wrap;

    h4 {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    &-about {
      display: flex;

      h4:first-child {
        padding-right: 5px;
      }
    }

    &-back {
      visibility: hidden;
    }

    &-closest, &-back {
      display: flex;

      h4:first-child {
        padding-right: 5px;
      }

      svg {
        padding-top: 10px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    button {
      border: 2px solid $green;
      color: $green;
      font-size: 14px;
      padding: 1rem;
      width: 150px;
      margin: 1rem;
      background-color: $white;

      a {
        text-decoration: none;
        color: $green;
      }
    }

    button:hover {
      background-color: $green;
      color: $white;
      cursor: pointer;

      a {
        color: $white;
      }
    }

    button:focus {
      outline: none;
    }
  }

  &__slider {
    display: flex;
    justify-content: center;

    .slider {
      margin-top: 20px;
      margin-bottom: 20px;
      -webkit-appearance: none;
      height: 10px;
      border-radius: 5px;
      background: $grey;
      outline: none;
      opacity: 0.7;
      -webkit-transition: 0.2s;
      transition: opacity 0.2s;
    }
    .slider:hover {
      opacity: 1;
    }

    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      @include slider;
    }

    .slider::-moz-range-thumb {
      @include slider;
    }
  }

  &__contact {
    border-right: 2px solid $green;
    padding-right: 2rem;
    width: 50%;

    a {
      color: $green;
    }
  }

  &__related {
    width: 50%;
    padding-left: 2rem;

    a {
      color: $green;
    }
  }

  &__twitch {
    position: relative;
    height: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 54%;
    padding-top: 30px;

    &-iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

#next_closest, #container__svg-back {
  padding-right: 5px;
}

#previous_stream {
  padding-left: 5px;
}
